.filter-section {
  position: relative;
}

.filter-section fieldset {
  padding: 1rem;
  width: fit-content;
  position: absolute;
  z-index: 999;
  border: none;
  border-radius: 0 0 10px;
  /* max-height: 50vh;
  overflow-y: scroll; */
  height: calc(100vh - 4rem - 4rem);
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.61);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.filter-section-heading {
  display: flex;
  justify-content: space-between;
  color: var(--dark-shade-color);
}

.clear-filters-btn {
  padding: 5px;
  background-color: transparent;
  border: none;
  color: var(--dark-shade-color);
  font-weight: 600;
}

.filter-category {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-evenly;
}

.filter-category h4 {
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.selectable-input-filter {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 8px;
}

.selectable-input-filter label {
  /* font-weight: 500; */
  letter-spacing: 1px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); */
  padding-left: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.selectable-input-filter input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

.ratings-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  padding-left: 10px;
}

.input-slider {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
  outline: none;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-input-filter {
  display: flex;
  align-items: center;
}

.rating-star {
  padding-right: 0.25rem;
}

.hide-filters-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .hide-filters-wrapper {
    display: block;
  }

  .filter-section fieldset {
    z-index: 0;
  }
}
