.cart-items-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 4rem 1rem;
}

.cart-items-summary-container {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.cart-items-summary-container h3 {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.2em;
  padding-bottom: 1rem;
  text-align: center;
}

.coupon-container {
  display: flex;
  padding-bottom: 1rem;
}

.coupon-apply-btn {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--dark-shade-color);
  border: 1px solid var(--dark-shade-color);
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.apply-coupon-icon {
  padding-right: 0.5rem;
  font-size: 0.2rem;
}

.price-details-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.price-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  font-size: 1rem;
}

.price-detail span:first-child {
  font-weight: 600;
  color: var(--dark-shade-color);
}

.delivery-charges {
  font-weight: 600;
}

.delivery-charges::before {
  content: "₹70";
  text-decoration: line-through;
  padding-right: 0.5rem;
  color: var(--dark-shade-color);
  opacity: 0.4;
}

.total-amount {
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-shade-color);
}

.checkout-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--dark-shade-color);
  background-color: var(--dark-shade-color);
  color: var(--secondary-color);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border-radius: 0.5rem;
}

.checkout-btn:hover {
  background-color: var(--secondary-color);
  color: var(--dark-shade-color);
}

/* coupon */

.coupon-section h3 {
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-bottom: 0.5rem;
  text-align: center;
}

.radio-type-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 0.5rem;
}

.radio-type-container p {
  padding: 0.5rem;
  text-align: left;
}

.radio-type {
  box-shadow: 0px 2px 4px var(--dark-shade-color);
  border-radius: 1rem;
  padding: 0.5rem;
}

.radio-type label {
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;
}

.radio-type input:disabled {
  cursor: not-allowed;
}

.coupon-action {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.coupon-action button {
  padding: 0.6rem;
  background-color: var(--dark-shade-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.coupon-action button:disabled {
  opacity: 0.4;
}
/* coupon */

@media (min-width: 768px) {
  .cart-items-summary {
    width: auto;
    min-width: 21.5rem;
  }
}
